#define($main)
<p>In addition to outlines, JGCGen also has generators for pocket shapes.</p>

<h2>Spiral</h2>
<p>This generates a circular pocket with a path that spirals outwards from the center.</p>
<dl class="methods">
<dt class="required">radius(double)</dt><dd>Set the pocket radius</dd>
<dt class="required">stepover(double)</dt><dd>Set the stepover</dd>
<dt>origin("coords")</dt><dd>Set the pocket center coordinates. Only numeric coordinates are supported. Default is X0 Y0.</dd>
</dl>

<h2>Polygon</h2>
<p>This generates a polygonal pocket with a path that spirals outwards from the center.</p>
<dl class="methods">
<dt class="required">radius(double)</dt><dd>Set the pocket radius</dd>
<dt class="required">stepover(double)</dt><dd>Set the stepover</dd>
<dt>origin("coords")</dt><dd>Set the pocket center coordinates. Only numeric coordinates are supported. Default is X0 Y0.</dd>
<dt class="required">sides(sides)</dt><dd>Number of sides in the polygon. Minimum is 3.</dd>
<dt>rotate(angle)</dt><dd>Rotate the polygon. Angle is in degrees.</dd>
</dl>

<h2>Rectangle</h2>
<p>This generates rectangular pockets. The generated toolpath can be either a scanning pattern or a spiral.</p>
<dl class="methods">
<dt>corners(<var>x1</var>, <var>y1</var>, <var>x2</var>, <var>y2</var>)</dt><dd>Set coordinates for the pocket corners</dd>
<dt>bounds(<var>path</var>, <var>offset</var>)</dt><dd>Set coordinates from the boudning rectangle of another path.</dd>
<dt>stepover(<var>stepover</var>)</dt><dd>Set stepover distance.</dd>
<dt>dir(<var>"dir"</var>)</dt><dd>Set milling direction. Can be "pos", "neg", "alt", "cw" or "ccw". The default is "alt".</dd>
</dl>

#end
#parse("base.tpl")
