#define($main)
<p>The following variables are automatically defined and should not be changed:</p>

<table>
	<thead><tr>
		<th>Name</th>
		<th>Description</th>
	</tr></thead>
	<tbody>
		<tr>
			<td>inputfile</td>
			<td>The name of the current input file. This is STDIN if input is read from standard input.</td>
		</tr>
		<tr>
			<td>Routers</td>
			<td>A factory for Router objects.</td>
		</tr>
		<tr>
			<td>Shapes</td>
			<td>A factory for path generator objects.</td>
		</tr>
		<tr>
			<td>Fonts</td>
			<td>A font loader.</td>
		</tr>
	</tbody>
</table>

<p>The \$Routers object is used to get a specific router type. It is usually used like this:</p>
#set($router="")
<pre class="code">
\#set(\$router = \$Routers.get("3axis"))
</pre>
<p>This code is included in the <a href="dir.html\#boilerplate"><code>\#boilerplate</code></a>, so you only need to call it yourself if you need to use some other implementation than 3axis.</p>

<p>Some variables are used for configuration and can be changed.</p>

<table>
	<thead><tr>
		<th>Name</th>
		<th>Description</th>
		<th>Default</th>
	</tr></thead>
	<tbody>
		<tr>
			<td>router</td>
			<td>The default router implementation to use with \#g().</td>
			<td>\$Routers.get("3axis")</td>
		</tr>
		<tr>
			<td>distmode</td>
			<td>The default distance mode ("mm" or "inch"). This is used by \#boilerplate to decide with mode to select.</td>
			<td>mm</td>
		</tr>
		<tr>
			<td>safe_z</td>
			<td>The safe Z value used by 3axis.</td>
			<td>#&lt;_zsafe&gt;</td>
		</tr>
		<tr>
			<td>near_z</td>
			<td>A Z value near the top of the workpiece.</td>
			<td>1</td>
		</tr>
		<tr>
			<td>rapidnear</td>
			<td>Do intrapath rapids at near_z instead of safe_z.</td>
			<td>false</td>
		</tr>
		<tr>
			<td>default_f</td>
			<td>The default feed rate used by 3axis.</td>
			<td>#&lt;_fdef&gt;</td>
		</tr>
		<tr>
			<td>plunge_f</td>
			<td>The default feed rate for plunges used by 3axis.</td>
			<td>#&lt;_fplunge&gt;</td>
		</tr>
		<tr>
			<td>passdepth</td>
			<td>The maximum depth of a single pass for code generated by 3axis.</td>
			<td>#&lt;_passdepth&gt;</td>
		</tr>
	</tbody>
</table>

<p>The variable <code>safe_z</code> is used when a rapid move to a new position is
is requested in a path. When a rapid move is made, the tool is first moved straight up until safe_z is
reached, then moved with G00 over the target coordinates, lowered to near_z (still with G00) and finally
plunged to target depth at <code>plunge_f</code> rate. If <code>near_z</code> is the same as <code>safe_z</code>,
it is omitted.</p>

<p>If <code>rapidnear</code> is set to true, rapids inside a path will be made at near_z height
instead of safe_z. This can speed up the work considerably, especially when doing text carving.
It is disabled by default for safety.</p>
 
<p>Note that the default configuration variables used by 3axis are <em>g-code variables</em>. Unless you change them to use numbers only, you must define those variables in g-code if you want to the generated code to work. Example:
</p>
<pre class="code">
\$safe_z = 5.0
\$default_f = 600
\$plunge_f = 100
\$passdepth = 3.0
</pre>
<p>The above might look a little confusing (what gets assigned to what now?), but remember that <em>template variables</em> are assigned with <code>\#set()</code>. The above is just expanded to this:</p>
<pre class="code">
#<_zsafe> = 5.0
#<_fdef> = 600
#<_fplunge> = 100
#<_passdepth> = 3.0
</pre>

#end
#parse("base.tpl")
